* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: iranyekanwebmedium, Arial, Helvetica, sans-serif;
  /* background-color: #28457b; */
  z-index: 5;
}

/* ! == navigation == */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1170px;
  margin: auto;
  padding: 21px 0px 7px;
  position: sticky;
  top: 0;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 10;
}

.nav__logo {
  margin: 11px 28px;
  cursor: pointer;
}

.nav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list-item {
  margin: 0 15px;
  display: inline-block;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  font-family: YekanBakhMedium;
  font-size: 15px;
  font-weight: 600;
  transition: 0.4s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  padding: 0;
  top: -6px;
  position: relative;
}

.nav__show-more-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__list-item a {
  text-decoration: none;
  color: #303030;
}

.nav__list-items-img {
  width: 8px;
  color: black;
  font-weight: bold;
  margin-right: 5px;
}

.nav__items-button a {
  border-radius: 20px;
  border: none;
  position: relative;
  top: 0;
  font-family: YekanBakhBold;
  font-size: 14px;
  color: #28457b;
  background-color: rgba(232, 239, 254, 0.6);
  min-width: 108px;
  margin-right: 20px;
  padding: 10px 27px;
  transition: 0.2s;
}

.nav__items-button a:hover {
  background-color: rgb(227 197 0 / 15%);
}

/* show ul when hover on navbar items */
.nav__list-items-more {
  transition: all 0.3s ease-in-out;
  z-index: 999;
  position: absolute;
  top: 50px;
  min-width: 400px;
  height: 219px;
  text-align: right;
  background-color: #fff;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 20px 40px 0 rgb(36 39 51 / 15%);
  border-radius: 12px;
  border-top: 5px solid #f8e88b;
  display: none;
  align-items: flex-start;
}

.nav__list-items-section {
  padding: 15px 6px;
}

.nav__list-items-section a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  margin: 2px 0;
}

.nav__list-items-section a:hover {
  background-color: #f5f8fe;
  border-radius: 5px;
}

.nav__list-items-section a div {
  padding-left: 15px;
  padding-right: 15px;
  margin: 5px 0;
}

.nav__list-items-section a div p:first-of-type {
  color: #303030;
  font-family: YekanBakhBold;
  position: relative;
  top: 5px;
}

.nav__list-items-section a div p:first-of-type:hover {
  color: #385385;
}

.nav__list-items-section a div p:last-of-type {
  font-size: 12px;
  position: relative;
  font-family: YekanBakhBold;
  top: 2px;
}

.nav__list-items-more-list {
  display: none;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  position: absolute;
  top: 50px;
  left: 10px;
  min-width: 123px;
  text-align: right;
  background-color: #fff;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 20px 40px 0 rgb(36 39 51 / 15%);
  border-radius: 12px;
  border-top: 5px solid #f8e88b;
  padding-top: 15px;
  list-style-type: none;
  font-family: "YekanBakhMedium";
  font-weight: 400;
}

.nav__list-items-more-list li {
  display: block;
  color: #303030;
  margin: 0;
  padding: 10px 20px;
  box-sizing: content-box;
  border-bottom: 1px solid #ededed;
  transition: 0.4s;
  font-size: 14px;
  white-space: nowrap;
}

.nav__list-items-more-list li:last-child {
  border: none;
}

/* ! ------------------- */

/* ? hamburgrmenu */

.nav__hamburger-icon {
  width: 27px;
  display: none;
}

.nav__hamburger-menu {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  font-family: "iranyekanwebmedium";
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.show-hamburger-menu {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.nav__hamburger-nav-cross {
  width: 100%;
  text-align: left;
  padding: 25px 0;
}

.nav__hamburger-nav-cross-img {
  width: 20px;
  margin-left: 30px;
}

.nav__hamburger-menu-items {
  padding: 15px 30px;
}

.nav__hamburger-menu-items ul {
  list-style-type: none;
}

.nav__hamburger-menu-items a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 5px 0;
}

.nav__hamburger-menu-items div {
  height: 1px;
  background-color: #dfe1e4;
  margin: 10px 0;
  width: 90%;
}

.nav__more-items {
  background-color: #eee;
  padding: 20px 50px;
  display: flex;
  align-items: center;
}

.nav__more-items a {
  text-decoration: none;
  color: #28457b;
  font-size: 0.85rem;
}

.nav__more-items img {
  width: 15px;
  margin-right: 5px;
}

/* ? == == == == == == == == */

/* * main-banner */

.banner {
  width: 1168px;
  padding: 124px 60px 80px;
  background-image: linear-gradient(135deg, #21254e, #2b4a83);
  border-radius: 20px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.banner .banner-text h3 {
  font-family: "YekanBakhHeavy";
  font-size: 2rem;
  color: #fff;
}

.banner .banner-text p {
  color: #fff;
  font-size: 18px;
  margin: 25px 0;
  line-height: 2.5rem;
  font-family: "YekanBakhMedium";
}

.banner-button {
  margin: 40px 0;
  font-family: "YekanBakhBold";
}

.banner-button a {
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 17px;
  padding: 4px 14px;
  display: inline-block;
  background-color: #fff;
  line-height: 28px;
  border-radius: 10px;
}

.banner-button a:first-child {
  background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0
    no-repeat padding-box;
  color: #000;
  margin-left: 10px;
  text-align: center;
}

.banner-button a:last-child {
  box-shadow: 0 3px 9px 0 rgb(0 0 0 / 3%);
  text-align: center;
  color: #fff;
  background: #435a8a 0 0 no-repeat padding-box;
  margin-left: 10px;
}

.banner-image img {
  width: 500px;
}

.go-down {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 58px;
}

.go-down div {
  background-image: url("../images/arrowbottom.svg");
  width: 164px;
  height: 78px;
}

.go-down img {
  cursor: pointer;
  width: 18px;
  color: #21254e;
  position: absolute;
  top: 15px;
}
/* * ------------------- */

/* ! cart - online payment */

.online-payment {
  width: 1170px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.online-payment .img-section img {
  width: 450px;
  height: 480px;
}

.text-section {
  padding: 0 0.5rem;
  width: 530px;
  margin: 30px 0;
}

.text-section h2 {
  margin-bottom: 5px;
  margin-top: 18px;
  color: #747480;
  font-family: "YekanBakhMedium";
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.18px;
  line-height: 34px;
}

.text-section h3 {
  margin: 5px 0 10px;
  font-size: 2rem;
  line-height: 43px;
  color: #000;
  font-family: "YekanBakhHeavy";
  font-weight: 600;
}

.text-section p {
  margin-top: 14px;
  border-bottom: 1px solid #dfe1e4;
  padding-bottom: 20px;
  line-height: 40px;
  color: #303030;
  font-family: "YekanBakhMedium";
  text-align: justify;
  letter-spacing: -0.5px;
}

.link-section {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.link-section .first-link {
  background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0
    no-repeat padding-box;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  padding: 4px 14px;
  line-height: 28px;
  border-radius: 10px;
  text-align: right;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  white-space: nowrap;
  font-family: iranyekanwebmedium, sans-serif;
  color: #000;
  font-weight: 500;
}

.link-section .second-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 4px 14px;
  line-height: 28px;
  border-radius: 10px;
  text-align: right;
  margin-left: 10px;
  cursor: pointer;
  white-space: nowrap;
  font-family: iranyekanwebmedium, sans-serif;
  background-color: rgba(232, 239, 254, 0.6);
  color: #28457b;
  text-decoration: none;
}

.link-section .second-link img {
  width: 18px;
  height: 16px;
  margin-right: 5px;
}

.online-payment .second-img img {
  width: 580px;
}

#zarincart-text {
  margin-top: 50px;
}

/* ! -------------- */

/* ? Checkered section */

.attributes {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.definition {
  width: 35%;
  margin-top: 50px;
}

.items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  padding: 30px;
}

.items img {
  width: 60px;
  height: 60px;
}

.items .item {
  padding: 18px 25px 20px 0;
}

.items .item div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item h4 {
  margin-right: 20px;
  font-size: 1.5rem;
  font-family: "YekanBakhHeavy";
}

.item p {
  margin: 20px 0 20px 10px;
  font-size: 1rem;
  font-family: "YekanBakhMedium";
  color: #303030;
  line-height: 36px;
}

.first-item {
  border-left: 1px solid #e0e4e7;
}

.second-item {
  border-bottom: 1px solid #e0e4e7;
}

.third-item {
  border-top: 1px solid #e0e4e7;
  margin-right: -1px;
}

.fourth-item {
  border-right: 1px solid #e0e4e7;
  margin-right: -1px;
}

.definition h3 {
  font-family: "YekanBakhHeavy";
  font-size: 2rem;
}

.definition p {
  width: 85%;
  margin-top: 40px;
  line-height: 40px;
  color: #303030;
  text-align: justify;
  font-size: 1rem;
  font-family: "YekanBakhMedium";
}

/* ! box */
.box {
  width: 1170px;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #c3c6cd;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
}

.box h2 {
  color: #303030;
  font-size: 2rem;
  font-family: "YekanBakhHeavy";
}

.box h3 {
  margin-top: 9px;
  color: #747480;
  font-size: 1.2rem;
  font-family: "YekanBakhMedium";
}

.box a {
  background: transparent linear-gradient(270deg, #ffd900, #ffe422) 0 0
    no-repeat padding-box;
  text-decoration: none;
  margin-top: 17px;
  font-size: 14px;
  padding: 4px 14px;
  line-height: 28px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  font-family: "iranyekanwebmedium", sans-serif;
  color: #000;
}

/* key frame */
@keyframes showUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* -------------- */

/* responsive */
@media (max-width: 1200px) {
  /* nav */
  header {
    width: 941px;
  }

  /* benner */
  .banner {
    padding: 40px 20px 85px;
    width: 938px;
  }

  .banner-image img {
    width: 430px;
  }

  /* cart */
  .online-payment {
    width: 940px;
  }

  .zarincard-img {
    margin-left: 20px;
  }

  /* ? Checkered section  */
  .attributes {
    flex-direction: column;
    width: 924px;
    padding: 0 8px;
  }

  .definition {
    width: 100%;
    margin-top: 40px;
  }

  .definition p {
    width: 100%;
    margin-top: 30px;
  }

  .first-item,
  .second-item,
  .third-item,
  .fourth-item {
    border: none;
  }

  .items {
    width: 90%;
    padding: 30px;
  }

  .items .item {
    padding: 18px 0 20px 50px;
  }

  /* ! box */
  .box {
    width: 940px;
  }
}

@media (max-width: 990px) {
  /* nav */
  header {
    width: auto;
    padding: 21px 40px 7px 30px;
  }

  .nav__list li:last-child {
    display: none;
  }

  .nav__list li {
    margin: 0 11px;
  }

  .nav__logo {
    margin: 0;
  }

  /* benner */
  .banner {
    width: auto;
    margin: 0 10px;
    margin-top: 20px;
    padding: 40px 20px 85px;
  }
  .banner-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .banner .banner-text p {
    margin: 0;
    text-align: center;
    font-size: 18px;
  }

  .banner-image {
    display: none;
  }

  .banner-button {
    margin: 0;
  }

  .go-down {
    bottom: 39px;
  }

  /* cart */
  .online-payment {
    flex-direction: column;
    width: auto;
    align-items: center;
    justify-content: center;
  }

  .text-section {
    width: 95%;
  }

  .second-img {
    height: 425px;
  }

  .zarincard-img {
    margin: auto;
    height: 380px;
  }

  /* ? Checkered section  */

  .attributes {
    width: auto;
    padding: 0 35px;
  }

  /* ! box */
  .box {
    width: auto;
    margin: 50px 10px 0;
  }
}

@media (max-width: 768px) {
  header {
    width: auto;
    padding: 10px 8px;
  }

  .nav__list {
    display: none;
  }

  .nav__hamburger-icon {
    display: block;
  }

  /* cart */
  .text-section {
    width: 85%;
    text-align: center;
    margin: auto;
  }

  .link-section {
    justify-content: center;
  }

  /* ? Checkered section  */
  .definition {
    text-align: center;
    margin-top: 90px;
  }

  .definition h3 {
    font-size: 1.6rem;
  }

  .items {
    width: 100%;
    padding: 50px 0;
  }

  .items .item {
    padding: 18px 0 20px 20px;
  }

  /* ! box */

  .box h2 {
    font-size: 1.5rem;
  }

  .box h3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .banner .banner-text h3 {
    text-align: right;
    font-size: 20px;
    padding-right: 19px;
    line-height: 44px;
  }

  .banner .banner-text p {
    font-size: 16px;
    line-height: 36px;
    max-width: 90%;
    margin: auto;
    text-align: center;
  }

  .banner-text {
    align-items: flex-start;
  }

  .banner-button {
    margin: auto;
  }

  /* cart */

  .link-section {
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
  }

  .img-section {
    display: none;
  }

  .text-section {
    width: 80%;
    padding: 0 10px;
    margin-bottom: 20px;
  }

  #zarincart-text {
    margin-top: 15px;
  }

  .text-section h3 {
    font-size: 1.5rem;
  }

  .text-section p {
    text-align: center;
  }

  /* ? Checkered section  */
  .items {
    padding: 50px 0;
    grid-template-columns: 1fr;
  }

  .items .item {
    padding: 18px 0;
  }

  /* ! box */

  .box {
    margin: 0 10px 0;
  }

  .box h2 {
    font-size: 18px;
  }

  .box h3 {
    font-size: 15px;
  }
}
